/* game styles */

body, html {
    height: 100%; /* Устанавливаем высоту на 100% для всей страницы */
    margin: 0; /* Убираем отступы по умолчанию */
    overflow: hidden; /* Предотвращаем появление полос прокрутки */
}

#scene-container {
    position: relative;
    height: 100%; /* Устанавливаем высоту на 100% для контейнера сцены */
}


#background-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; /* Задаем z-index для фона */
}
    
#background {
    width: auto;
    height: 100%;
    object-fit: cover; /* Позволяет фону занимать всю доступную область */
}

#characters img {
    
    max-height:50lvh; /* Максимальная высота для персонажей */
    position: relative;
    z-index: 1;
}

#character-name,
#choices button,
#dialogue {

    position: absolute;
    z-index: 2;
    padding: 10px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    top: 70%; /* Примерное положение, которое может потребоваться настроить */
    left: 20%; /* Примерное положение, которое может потребоваться настроить */
    transform: translateY(-50%);
}

#character-name {
    position: relative;
    font-weight: bold;
    display: inline-block; 
}

#dialogue {
    position: relative;
    display: inline-block; 
    
}

#choices button {
    position: relative;
    display: inline-block; 
    cursor: pointer;
}

#character-2 {
    float:right;
    right: 15%;
}
#character-1 {
    left: 15%;
}



#content-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto; /* Убираем привязку к верхнему краю */
    height: auto;
    padding-top: 12%;
}

/* menu styles */
#menu {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

#menu h1 {
    color: white;
    font-size: 24px;
}

#menu button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.blure {
    filter: blur(5px);
}
